<div class="profile">
  <p>名前：　畑中　崇徳（はたなか　たかのり）</p>
  <p>RUNTEQペンネーム：　hatabo_56a（はたぼー）</p>
  <p>趣味：　NBA観戦、ゴルフ、ワンピースカード、ピクニック</p>
  <p>好きな一言：　諦めんかったら道は拓ける</p>
  <p>好きな食べ物：　ハンバーグ、から揚げ、チョコ
  <p>
</div>

<div class="memory">
  <h2>おもいで</h2>
  <div class="memory-list">
    <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>

  <button class="toggle-btn">今までの一番の思い出の場所は？</button>
    <div class="memory-content" style="display: none;">
      <p>〇</p>
    </div>